<div class="container">
    <div class="row">
        <h2>Adicionar uma nova receita: <a class="btn btn-success" [routerLink]="['/recipes/create']">Clique Aqui</a></h2>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td>
                        ID
                    </td>
                    <td>
                        Titulo
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recipe of recipes">
                    <td>{{recipe.id}}</td>
                    <td>{{recipe.title}}</td>
                    <td><a [routerLink]="[recipe.id, 'details']" class="btn btn-primary">Detalhes</a></td>
                    <td><a [routerLink]="[recipe.id, 'update']" class="btn btn-warning">Alterar</a></td>
                    <td><button type="button" (click)="delete(recipe)" class="btn btn-danger">Excluir</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>